@font-face {
    font-family: my-cool-font;
    src: url(./font/Norse-Bold.otf);
}
body {
    margin: 0;
}
.container {
    display: flex;
    background-color: rgb(245, 241, 241);
}
/* side-hero design */
.side-hero {
    background: url(https://images.unsplash.com/photo-1505322022379-7c3353ee6291?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    height: 100vh;
    width: 30vw;
}
.logo {
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: 180px 0;
    width: clamp(20px, 100%, 600px);
}
#logo {
    position: relative;
    height: 120px;
}
.logo > p {
    font-family: my-cool-font, norse;
    color: white;
    font-size: 5rem;
}
.side-hero > p {
    position: absolute;
    bottom: 0px;
    left: 100px;
    color: white;
}
/* Form section */
.form-section {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Heading design */
.heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 0 1 70px;
    font-size: 20px;
    margin-left: 40px;
}
/* form design */
.form-inner-section {
    display: flex;
    flex-direction: column;
    flex: 0 2 auto;
}
form {
    height: 40vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    background-color: white;
    box-shadow: 0px 5px 5px rgb(212, 209, 209);
}
fieldset {
    border: none;
    display: flex;
    gap: 150px;
    justify-content: flex-start; 
    align-items: center;
    height: 35vh;
    margin-left: 30px;
    flex: 1;
}
input, textarea, select, button {
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: clamp(100px, 20%, 600px);
}
.colOne, .colTwo {
    display: flex;
    flex-direction: column;
}
textarea, input {
    display: flex;
    width: clamp(100px, 150%, 600px);
    height: 25px;
}
label {
    color: rgb(95, 93, 93);
    font-weight: 900;
    font-size: 12px;
}
form input {
    border: 0.5px solid #E5E7EB;
    border-radius: 5px; 
}
.colOne > div,
.colTwo > div {
    height: 10px;
    margin: 5px;
}
button {
    height: 40px;
    border-radius: 5px;
    background-color: #48526d;
    color: white;
    font-weight: 900;
    border: 1px solid #48526d;
}
legend {
    font-size: 30px;
    margin: 20px 40px;
}
button:hover {
    background-color: #538bb9;
    border: 1px solid #538bb9;
}
a {
    text-decoration: none;
    color: black;
}
span {
    color: #48526d;
    font-weight: 900;
}
input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 3px 3px rgb(212, 209, 209);
}

/* Sign Up Section */
.signUpSection {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    margin-left: 40px;
}
/* Footer */
#footer {
    position: absolute;
    display: block;
    bottom: 15px;
    left: 925px;
}
#cPasswordError, #passwordError {
    color: red;
}


